<%= form_tag calculate_path do%>
  <%= label_tag "Please, enter values for a, b and c inputs: "%>
  <br></br>

  <%= render partial: "values" %>
  <br></br>
  <%= submit_tag 'Submit' %>
<% end %>
<hr>
<br>
<p>Alternatively, please select a CSV file to build multiple graphs</p>
<%= form_tag csv_path, multipart: true do%>
  <%= file_field_tag :file %>
  <br>
  <br>
  <%= submit_tag "Build the parabolas!" %>
<% end %>