<div class="row">
  <div id="form" class="col-md-6">

    <%= form_tag input_path, name: 'equation_form' do%>
      <%= label_tag "Please, enter values for a, b and c inputs: "%>
      <br></br>

      <%= render partial: "values" %>
      <br></br>
      <%= submit_tag 'Submit', disabled: true, class: "btn btn-default" %>
    <% end %>
    <hr>
    <br>
    <p>Alternatively, please select a CSV file to build multiple graphs</p>
    <br>
    <p>Feel free to use the attached CSV template to submit your values and build marvellous parabolas</p>
    <%= link_to('Sample CSV file', '/sample.csv') %>
    <br>
    <br>
    <%= form_tag input_path, multipart: true, class: "form-group" do%>
      <%= file_field_tag :file %>
      <br>
      <br>
      <%= submit_tag "Build the parabolas!", class: "btn btn-default" %>
    <% end %>

    </div>
</div>