<!DOCTYPE html>
<html>
<head>
  <title>Equation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="flash_placeholder">
  <%- if flash[:alert] %>
    <div id='errors' class="alert alert alert-danger">
      <%= flash[:alert] %>
      <br></br>
    </div>
  <% end %>

  <%- if flash[:notice] %>
    <div id='notices' class="notice alert alert-info">
      <%= flash[:notice] %>
      <br></br>
    </div>
  <% end %>
</div>


<%= yield %>

</body>
</html>
